@mixin color($color :#1A9BC4)
{
		background-color:$color;
			}
body{
	@include color;
}
#header {
	z-index:1;
	position:fixed;
	@include color(black);
	width:100%;
	height:62px;
	margin-top:-20px;
}
#right{position:absolute;
	margin-left:1100px;
	margin-top:25px;
	color:white;
}
#left{position:absolute;
	float:left;
	margin-top:2px;
	margin-left:150px;
}
#welcome{
	position:absolute;
	height:350px;
	width:600px;
	margin:100px 400px 200px 200px;
	@include color(white);
	border-radius:7px;
}	
#twit{
	padding:2px;
	float:left;
	font-family:Sans-serif;
	margin-right:250px;
	margin-top:30px;
	margin-left:30px;	
p{
	color:lightgrey;
	}
}
#image
{
	padding:2px;
	float:right;
	margin-top:-159px;
}
#storelinks{
	padding:4px;
	height:20px;
	width:420px;
	margin-left:5px;
	margin-top:280px;
	a{text-decoration:none;
		color:lightblue;}
		a:hover{text-decoration:underline;
			}
}
#form1{position:absolute;
	height:125px;
	width:360px;
	margin:100px 150px 300px 820px;
	background-color:white;
	border-radius:7px;

}
#form2{position:absolute;
	height:225px;
	width:360px;
	margin:230px 150px 200px 820px;
	@include color(white);
	border-radius:7px;
	p{font-size:20px;}
}
#form21{
	@include color(white);
	height:50px;
	width:359px;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	margin-top:0px;
	border:1px solid lightgrey;
}
#signup{
	margin-left:14px;
	margin-top:8px;	
	color:lightgrey;
	strong{
		color:black;
	}
}
#two{
	margin-top:0px;
}
#fullname{margin-left:10px;
	height:20px;
	width:150px;
	border-radius:3px;
}
#email{
	@extend #fullname;
}
#password{
	@extend #fullname;
}
#signu{margin-left:10px;
	height:30px;
	width:150px;
	border-radius:7px;
		@include color(yellow);
}
#start{
margin-left:10px;
margin-top:3px;
height:20px;
width:300px;
border-radius:4px;
}
#signin{
margin-left:10px;
height:20px;
width:200px;
border-radius:4px;	
}
#submit{
	height:30px;
	width:70px;
	border-radius:8px;
	background-color:lightblue;
	color:white;
}
.footer{
	position:absolute;
	height:30px;
	width:80%;
	margin-left:230px;
	margin-top:550px;
	p{
		color:white;
		padding:7px;
		font-size: 12px;
		}
	a{@extend p;
		text-decoration: none;}
	}